:global {
  html,
  body {
    margin: 0;
    /* background: url("../../../images/background.svg"); */
    background-color: #87CEEB;
  }

  * {
    box-sizing: border-box;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  background-color: #FFF;
}
